
.container {
}

.album {
  text-align: center;
  padding: 100px;
  color: #e6deed;
}

#album-info {
  display: flex;
}

img {
  padding: 5px;
  width: 50%;
}

.album-details {
  margin-top: 10%;
  width: 50%;
}

#song-list {
  padding: 10px;
}

table, th, td {
  height: 50px;
  font-size: 1.1em;
  margin:auto;
}

th, td {
  padding: 10px;
  border-bottom: 3px solid white;
  border-bottom-style:ridge;
}

td.song-actions {
  width: 100px;
}

td.song-title {
  width: 700px;
  text-align: left;
  padding-left: 20px;
}

td.song-duration {
  width: 100px;
}
