section.library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.library * {
  color: white;
}

img {
  height: 70%;
}

.library .albums {
  height: 200px;
  width: 200px;
  margin: 10;
  margin-top: 100px;
  padding: 20px;
}

/* ============== */

/*
.library .albums {
  margin: 100px;
  border: 10px solid yellow;
}

.library .albums,
.library .albums img {
  height: 100px;
  width: 100px;
  border: 3px solid green;
}
*/
