.player-bar {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.1em;
  text-align: center;
  padding: 2rem;
  margin: auto;
}

#buttons {
  flex: 1;
  display: flex;
  /*justify-content: space-between;*/
  justify-content: center;
  height: 50px;
  padding: 20px;
}

.ion-skip-backward, .ion-skip-forward, .ion-play, .ion-pause {
  padding: 8px;
  color: purple;
}

#time-control {
  padding-top: 30px;
  flex: 2;
}

.seek-bar {
  -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.seek-bar:hover {
    opacity: 5;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #cb37d2;
    cursor: pointer;
}

.seek-bar::-webkit-slider-thumb:hover {
  width: 40px;
  height: 40px;
}

.time-control-status {
  display: flex;
  justify-content: space-between;
}

.current-time {
  margin-top: 10px;
  margin-left: 20px;
}

.total-time {
  margin-top: 10px;
  margin-right: 20px;
}

.volume-control-status {
  display: flex;
  justify-content: space-between;
}

.icon.ion-volume-high {
  margin-right: 20px;
}

.icon.ion-volume-low {
  margin-left: 20px;
}

#volume-control {
  flex: 1;
  padding-top: 30px;
}

.ion-skip-backward, .ion-play, .ion-pause, .ion-skip-forward {
  font-size: 30px;
}

.ion-skip-backward, .ion-play, .ion-pause, .ion-skip-forward:hover {
  font-size: 30px;
  cursor: pointer;
}

.ion-volume-high, .ion-volume-low {
  font-size: 40px;
}

.player-bar-title {
  font-size: 1.8rem;
}

.player-bar-artist {
  font-size: 1.3rem;
  padding: 10px;
}


/*  ======================================================  */

/* small phones to small tablets: from 481px to 767px */
@media only screen and (min-width: 767px) {
  .player-bar {
    position: relative;
    width: 80%;
  }

  .player-bar-title {
  }

  .player-bar-artist {
  }

  #buttons {
  }

  #time-control {
  }

  #volume-control {
  }
}

/* small tablet to big tablet: from 768px to 1023px */
@media only screen and (min-width: 1023px) {
  .player-bar {
    flex-direction: row;
  }

  .player-bar-title {
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -40px;
  }

  .player-bar-artist {
    position: absolute;
    left: 45%;
    top: 0;
    margin-top: 0px;
  }

  #buttons {
  }

  #time-control {
    padding-right: 20px;
  }

  #volume-control {
    padding-left: 20px;
  }
}

/* big tablet to 1200px (width larger than the 1140px row) */
@media only screen and (min-width: 1200px) {
  .player-bar {
    display: flex;
    /*flex-wrap: wrap;*/
  }

  #buttons {
  }

  #time-control {
  }

  #volume-control {
  }
}
