/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  background: url(assets/images/blurred_backgrounds/bloc_jams_bg.jpg);
}
*/


.App {
  background: #591f68;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.nav h1 a {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  color: #ff2d57;
  padding: 50px;
}

.nav h4 {
  height: 50px;
  padding-top: 20px;
  padding-right: 30px;
}
.nav h4 a {
  font-size: 1.3em;
  color: #e6deed;
}

a {
  text-decoration: none;
}
